* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 2669px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
  }



a{
      text-decoration: none;
      color: #000;
      list-style: none;
      
  } 

.header{
    margin: 0 auto;

}
.headerul{
    width: 100%;
    height: 100%;
}

.headerred{
      width: 100%;
      height: 40px;
      background-color: #d8272d
      ;
  }

.headerul{
    margin: 0 auto;
    width: 1200px;
  }


  .a{
      color: white;
      display: inline-block;
      margin-right: 5px;
      padding-right: 6px;
      margin-top: 8px;
      font-size: 13px;
      border-right: solid 1px #ffd0d2;
  }

  .a:nth-child(1){
    color: white;
}
  .a:nth-child(2){
      color: #ffd0d2;
}
    .a:nth-child(3){
        border: none;
        color: #ffd0d2;
}


/**흰색 헤더**/

.headerwhite{
    width: 100%;
    height: 86px;
  }

.headernav{
    margin: 0 auto;
    width: 1200px;
}
.headernav h1{
    float: left;
    margin-top: 28px;
}

.nav{
    float: right;
}
.nav ul{
    margin-top: 20px;
}

.nav ul li{
    display: inline-block;
    font-size: 22px;
    padding-right: 72px;
    color: #444;
    letter-spacing: -0.04em;
}

.nav ul li:nth-child(6){
    padding: 0;
}

.right img{
    width: 35px;
    float: right;
}
.black{
    margin: 0 auto;
    width: 1200px;
    height: 410px;
    background-image: black;
}
.main-visual{
    position: relative;

    margin: 0 auto;
    width: 1200px;
    height: 410px;
}
.image{
    
    position: absolute;
    width: 1200px;
    height: 410px;
    background-image: url(./images/growing-up-of-business-finance-technology-and-investment-trading-trader-investor-stock-market-investments-funds-and-digital-assets-businessman-analyzing-forex-trading-graph-financial-marketing-data.jpg);
    background-size: cover;
    opacity: 0.5;
    
}
.p{
    
    position: absolute;
    text-align: center;
    color: black
    ;
    clear: both;
}
.main{
    
    position: absolute;
    padding-top: 150px;
    font-size: 40px;
    padding-left: 400px;
    color: black
}
.main2{
    font-weight: 800;
    font-size: 60px;
    padding-top: 200px;
    padding-left: 250px;
    
}

.contents{
    margin: 0 auto;
    width: 1200px;
    height: auto;
}
.contents h2{
    font-weight: 400;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.contents2{
    text-align: center;
}

.first{
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    margin: 0 60px;
}

.contents2{
    margin: 0 auto;
}
.p2{
    font-weight: 500;
}

.p3{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.p3 p{
    font-size: 18px;
}

.p4{
    margin: 0 auto;
    margin-top: 40px;
    width: 1200px;
}
.p4 p{
    text-align: right;
    font-size: 18px;
}

.banner{
    width: 100%;
    height: 385px;
    margin-top: 60px;
    margin-bottom: 60px;
    float: left;
}

.banner-box{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.banner1{
    width: 50%;
    font-size: 22px;
    color: #444;
} 

.banner2{
    width: 25%;
    font-size: 22px;
    color: #444;
} 
.banner2 img{
    padding-top: 15px;
} 


.notice{
    width: 1280px;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.notice-box{
    width: 33%;
    margin: 0 6px;
}
.notice-box ul{
    list-style: none;
}

.notice-box ul li{
    padding: 10px;
}
.notice-top {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

.notice-content {
    display: flex;
    justify-content: space-between;
}

.notice-content ul:nth-child(2){
    font-size: 15px;
}

.notice-top span{
    font-size: 22px;
    padding-right: 5px;

}



.footer-image{
    padding-top: 100px;
    width: 1280px;
    display: flex;
    margin: 0 auto;

}
.footer-img{
    text-align: center;
    width: 20%;
}
.footer{
    margin: 0 auto;
    width: 1280px;
    height: 140px;
    display: flex;
    align-items: center;
    background-color: #444;
}
.footer-logo{
    padding-right: 70px;
}
.footer-text ul{
    margin-bottom: 18px;
}

.footer-text li{
    padding-right: 15px;
    padding-left: 15px;
    
    color: #c3ccc8;
    display: inline;
    align-items: center;
    border-right: 1px solid #c3ccc8;
}

.footer-text li:first-child{
    margin-left: 0;
    padding-left: 0;
}

.footer-text li:last-child{
    margin-right: 0;
    padding-right: 0;
    border: none;
}

.footer-text p{
    width: auto;
    height: auto;
    padding-top: 16px;
    color: #c3ccc8;
    display: inline;
    align-items: center;
}

.footer-img2{
    width: 230px;
    height: 75px;
    background-image: url(./유진자산운용_files/banner_footer.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
    margin-left: 16px;
}
.family{
    width: 190px;
    height: 40px;
    border: 1px white solid;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #c3cccc;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

